@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Tilt+Neon:XROT,YROT@-45..45,-45..45&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');





body{
    font-family: var(--fuente1);
    font-style: normal;
    font-weight: 400;
}    


.overlay-main-menu{
    background-color: var(--color4) !important;
}

.overlay-main-menu img.banner-menu{
    content: "";
    position: absolute;
    width: auto;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.overlay-main-menu .closebtn{
    position: absolute;
    top: 5% !important;
    left: 10%;
    display: flex;
    font-size: 100px !important;
    font-weight: 400;
    margin: 0 !important;
    padding: 0 !important;
    width: 60px;
    height: 60px;
    justify-content: flex-start;
    align-items: center;
    color: var(--color8-2023) !important;
}

.overlay-main-menu .closebtn:hover{
    color: var(--color8-2023) !important;
    text-decoration: none !important;
}

.overlay-main-menu .logo-festival{
    display: none !important;
}

.overlay-main-menu .overlay-content {
    position: absolute !important;
    top: auto !important;
    bottom: 10% !important;
    width: auto !important;
    text-align: left !important;
    left: 10%;
}

.overlay-main-menu .overlay-content a {
    color: var(--color5) !important;
    font-size: 30px;
    font-family: var(--fuente2) !important;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 !important;
    transition: 0.6s all;
}



.overlay-main-menu .overlay-content a:hover {
    color: var(--color7-2023) !important;
    text-decoration: underline !important;
}

.overlay-main-menu .social-networks {
    position: absolute;
    width: 320px;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: 0 auto !important;
    display: flex;
    justify-content: center !important;
}

.overlay-main-menu .social-networks a{
    width: 50px !important;
    height: 50px !important;
    display: flex !important;
    font-size: 30px !important;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100%;
    background-color: var(--color5) !important;
    color: var(--color4) !important;
    padding: 0 !important;
    margin: 0 12px !important;
}


@media (max-width: 964px) {
    .overlay-main-menu img.banner-menu{ display: none !important; }
    .overlay-main-menu .closebtn{ font-size: 60px !important; }
    .overlay-main-menu .overlay-content{ margin-top: 0px; top: 14% !important; }
    .overlay-main-menu .social-networks { bottom: 5% !important; }
    .overlay-main-menu .social-networks a{
        width: 30px !important;
        height: 30px !important;
        font-size: 18px !important;
        margin: 0 4px !important;
    }
}