
/*
* Mile Theme
* Author: IvanLp
* Version: 8.x
*/

/* 
* Theme
*
* 1 - GENERAL
* 2 - REGIONS
* 3 - MAIN MENU
* 4 - BREADCRUMB
* 5 - BLOCKS
* 6 - NODES AND FIELDS
* 7 - VIEWS
* 8 - MEDIA QUERIES
*/

/**

/********************************************
**************  GENERAL   *****************
********************************************/
:root {
  --fuente1:'Nunito', sans-serif;
  --fuente2: "Tilt Neon", sans-serif;
  --fuente3: "Neonderthaw", cursive;
  --fuente4: "Londrina Sketch", sans-serif;
  --fuente5: "Train One", system-ui;
  --negro:#000000;
  --rojo: #FF0042;
  --color1: #D92E1E;
  --color2: #9B44F2;
  --color3: #04D99D;
  --color4: #FFDF92;
  --color5: #171717;
  --color6: #666666;
  --color7: #ffafb8;

}


body{
  background-color: var(--color5);
}

.bg-negro {
  background-color: var(--negro);
}

.bg-rojo {
  background-color: var(--rojo);
}

.negro {
  color: var(--negro);
}

.rojo {
  color: var(--rojo);
}


.mile-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.mile-bg > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: none;
}

#Map{
  width: 100%;
  height: 340px;
}
/********************************************
**************  1 REGIONS   *****************
********************************************/

.mile-container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: top center;
    overflow-x: hidden;
}

.mile-container > header{ 
  width: 100%;
 background: none;
  padding: 1rem 2.5rem;
  position: relative;
  z-index: 4;
}

header .content-header {
  display: flex;
  display: -webkit-flex; /* Safari */
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.custom-col-1 {
  margin-top: -3rem;
}

header .content-header #block-festivalrap-theme-branding {
  position: absolute;
  left: 45px;
  order: 1;
  -webkit-order: 1;
  height: 75px;
}

header .content-header #block-festivalrap-theme-branding a{
  position: relative;
  height: 100%;
  display: block;
}

header .content-header #block-festivalrap-theme-branding a img{
  height: 100%;
  filter: brightness(0) saturate(100%) invert(44%) sepia(6%) saturate(0%) hue-rotate(144deg) brightness(86%) contrast(87%);
} 

header .content-header .logos-festivals{
  margin: 0 1rem;
  order: 2;
  -webkit-order: 2;
}

.fa-bars:before {
  content: "\f0c9";
  filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(2%) hue-rotate(169deg) brightness(108%) contrast(101%);
 text-shadow: 0 0 5px #9B44F2, 0 0 10px #9B44F2;

}

.bl03 footer {
	background:none
}





header .content-header .logos-festivals > a > div.img-festival{
    width: 78px;
    height: 42px;
    margin: 0px 0.5rem 0 0.5rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0) saturate(100%) invert(12%) sepia(77%) saturate(6423%) hue-rotate(339deg) brightness(104%) contrast(110%);
}

header .content-header .social-networks{
  margin: 0 7rem 0 1rem;
  order: 3;
  -webkit-order: 3;
}

header .content-header  .social-networks a{ 
  width: 37px;
  height: 37px;
  line-height: 38px;
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  color: var(--color6);
  margin: 0 2px;
  font-size: 21px;
  border:1px solid var(--color6)
}

header .content-header .btn-open-menu{
  margin: 1rem;
  cursor: pointer;
  order: 4;
  -webkit-order: 4;
  z-index: 10;
  position: fixed;
  background-color: var(--color5);
  padding: 10px;
  border-radius: 50%;
  line-height: 1;
 box-shadow: 0 0 10px var(--color4), 0 0 19px var(--color4), inset 0 0 10px var(--color4), inset 0 0 15px var(--color4);
}





.mile-container > section{
    width: 100%;
   
}

.mile-container > section.container-highlighted{
  height: auto !important;
  min-height: auto !important;
  padding: 0 !important;
}

.mile-container > section.container-front{
  overflow: hidden;
  opacity: 0.95;
  max-width: 1260px;
}

.mile-container > footer{
  min-height: 100px;
}


footer .content-footer-frontpage,
footer .content-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

footer .content-footer .contact-info{
  color: var(--color6);
  font-size: 0.75rem;
  order: 1;
  -webkit-order: 1;
}

.content-footer {
  z-index: 3;
}

footer .content-footer .contact-info a{
  color: var(--color1-2022) !important;
}

footer .content-footer .logos-festivals{
  display: flex;
  margin: 0 1rem;
  order: 4;
  -webkit-order: 4;
}

footer .content-footer  .logos-festivals > a > div.img-festival{
  width: 70px;
  height: 42px;
  margin: 0.5rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(0) saturate(100%) invert(44%) sepia(6%) saturate(0%) hue-rotate(144deg) brightness(86%) contrast(87%);
}


footer .content-footer #block-festivalrap-theme-newsletter {
  margin: 0 1rem;
  order: 3;
  -webkit-order: 3;
}

footer .content-footer #block-festivalrap-theme-newsletter .btn-newsletter {
  background-color: var(--color6);
  color: var(--negro);
  font-weight: 700;
  font-size: 1rem;
  width: 280px;
  text-transform: uppercase;
  border-radius: 3rem;
}


footer {
  padding-top: 3rem;
  background-color: var(--color5);
}

footer .content-footer  .social-networks{
  margin: 0 0.5rem 0 1rem;
  order: 2;
  -webkit-order: 2;
  display: flex;
}

footer .content-footer .social-networks a{ 
  width: 37px;
  height: 37px;
  line-height: 38px;
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  color: var(--color6);
  font-size: 21px;
  margin: 3px;
  border:1px solid var(--color6)
}
footer .triptico-footer{
  filter: brightness(0) saturate(100%) invert(44%) sepia(6%) saturate(0%) hue-rotate(144deg) brightness(86%) contrast(87%);
}

footer .content-subfooter .copyright img{
  max-width: 400px;
  margin-top: -45px;
  margin-bottom: 0px;
  filter: brightness(0) saturate(100%) invert(12%) sepia(100%) saturate(4569%) hue-rotate(336deg) brightness(105%) contrast(120%);
}

footer .content-subfooter .copyright p {
  margin: 1rem 0;
  font-size: 0.8rem;
  color:var(--color6);
}
footer .content-subfooter .copyright p a{
  color: var(--color6);
}

.global-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  opacity: 0;
  z-index: 10000;
  transition: 0.6s all;
}

.global-modal.active {
  opacity: 1;
  transform: scale(1) !important;
}

.global-modal .content-global-modal{
  position: relative;
  width: 100%;
}

.global-modal .content-global-modal img{
  max-height: 90vh !important;
  width: auto !important;
  max-width: 80% !important;
  margin: 0 auto;
  display: block;
  border: 2px solid var(--color-text);
}

.btn-close-global-modal
{
  position: absolute;
  top: 12px;
  right: 18px;
  font-size: 32px;
  color: #f2f2f2;
  cursor: pointer;
  z-index: 1;
}

/********************************************
**************  3 MAIN MENU   ***************
********************************************/

/*Open Menu*/

.btn-open-menu{
    margin: 1rem;
    cursor: pointer;
    display: block;
}

/* The Overlay (background) */
.overlay-main-menu {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-main-menu .menu-title{
  position: relative;
  top: 100px;
  left: 0;
  right: 0;
  color: var(--color-text);
  font-size: 3rem;
  font-style: inherit;
  font-weight: 900;
  margin: 0 auto;
  text-align:center;
  display: none;
}

.overlay-main-menu .logo-festival{
  background-image: url(/sites/default/files/inline-images/logo-rap.png);
  width: 104px;
  height: 104px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  filter: brightness(0) saturate(100%) invert(97%) sepia(53%) saturate(1135%) hue-rotate(53deg) brightness(97%) contrast(94%);
}

  /* Position the content inside the overlay */
.overlay-main-menu .overlay-content {
    position: relative;
    top: 3%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 20px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
  
  /* The navigation links inside the overlay */
.overlay-main-menu a {
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    color: var(--color1-2022);
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    line-height: 1.4;
}
  
  /* When you mouse over the navigation links, change their color */
.overlay-main-menu a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
  /* Position the close button (top right corner) */
.overlay-main-menu .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/********************************************
**************  4 BREADCRUMB   ***************
********************************************/
.mile-breadcrumb ol {
  background-color: transparent !important;
  border-radius: 0 !important;
  max-width: 1260px;
  margin-left: auto;
  margin-right:auto;
}

.mile-breadcrumb ol a{
  color:var(--color5-2022);
  font-size: .7rem;
  text-transform: uppercase;
}

/********************************************
**************  5 BLOCKS   ***************
********************************************/

.block-mile-theme-page-title{
  margin-top: 2rem;
  display: none;
}

.block-mile-theme-page-title h1{
  padding: 1rem 2rem;
  margin: 0 0 1px 0!important;
  text-align: center;
  color: var(--color-text);
}


.block-mile-theme-content img{
  text-align: center;
  max-width: 450px;
  width: 100%;
  height: auto;
}

#block-pick img,
#block-pick-2 img{
  position: relative;
  width: 120px;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  margin: 0 auto;
  display: block;
  filter: brightness(0) saturate(100%) invert(12%) sepia(77%) saturate(6423%) hue-rotate(339deg) brightness(104%) contrast(110%);
}

.btn-mile-theme{
  width: 100%;
  min-height: 40px;
  background-color: var(--color-text);
  color: var(--color-bg) !important;
  font-size: 1.4rem;
  font-weight: bold;
}




#block-credits {
  margin-bottom: 6rem;
}

#block-credits p {
  font-size: 0.8rem;
  line-height: 14px;
}

#block-credits p span.label{
  color: var(--color-text);
}

#block-credits p span.author{
  color: var(--color-header);
  font-weight: 500;
}



#block-pestanas ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

#block-pestanas ul li { margin: 0 4px; }


/********************************************
********** 6 NODES AND FIELDS ***************
********************************************/


.node--type-ct-memory  [class^="mile-node"]{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.node--type-ct-memory  [class^="mile-node"] > div:nth-child(1){
  width: 60%;
  margin: 0 2%;
  align-self: center;
  order: 2;
}

.node--type-ct-memory  [class^="mile-node"] > div:nth-child(2){
  width: 36%;
  order: 1;
}

.node--type-ct-memory  [class^="mile-node"] > div:nth-child(3),
.node--type-ct-memory  [class^="mile-node"] > div:nth-child(4){
  width: 100%;
}


/**/
.mile-node img{
  margin: 40px auto;
  display: block;
}

.mile-field-author{
  text-align: right;
  font-size: 0.8rem;
}

[class^="mile-field"]{
  margin: 0em 0 0em 0;
}

.mile-field-custom img{
  max-width: none;
}

.mile-field-custom a{
  color: var(--color5-2022);
}

.mile-field-details iframe{
  border: 2px solid var(--color-text);
  padding: 0.5rem;
  box-sizing: border-box;
}

.mile-field-attachments{
  position: relative;
  height: auto;
  width: 100%;
  margin: 2rem auto 1rem auto;
}

.mile-field-attachments .list-attachments{
  margin: 0;
  padding: 0;
  list-style: none;
}


.mile-field-attachments .list-attachments .item-attachment{
  /* border-bottom: 1px dashed var(--color-text); */
  padding: 0.4rem 1rem;
}

.mile-field-attachments .list-attachments .item-attachment a{
  color: var(--color-bg);
  background-color: var(--color-text);
  width: 100%;
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 10px 2px;
  border-radius: 4px;
}

.mile-field-attachments .list-attachments .item-attachment a:hover{
  text-decoration: none;
  opacity: 0.7;
}

.mile-field-imagelink .card {
  background-color: transparent;
  border: none;
  /*
  border: 1px solid var(--color-text);
  min-height: 430px;
  padding-top: 20px;
  */
}

.mile-field-imagelink .card img{
  max-width: none !important;
  width: 90%;
  height: 320px;
  object-fit: contain;
  margin: 0 auto !important;
}

.mile-field-imagelink .card a{
  text-align: center;
  color: var(--color-text);
  font-weight: bold;
  width: 100%;
}




/********************************************
***************** 8 VIEW ********************
********************************************/



/**********************************************************************/


/**********************************************************************/

/**********************************************************************/


/*******************************************************************/


/**********************************************************************/

/*************************************************************************/
/********** view anuncio artistas *******/

/**********************************************************************/


/*************************************************************************/
/********** view noticias ***********/

.artb1-img img {
  width: 100%;
  height: auto;
}




.artb1-tit h2 a:hover {
  color: white;
  opacity: .8;
  text-decoration: none;  
}

  .artb1-img {
  border:1px solid var(--color-text)
}

.artb1-txt p {
  line-height: 1.3;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
  color: var(--color-text);
}

.groupspt {
  margin-top: 10rem !important;
  display: flow-root;
}  

.mb-7 {
  margin-bottom: 7rem !important;
}


.artint .artb1-tit h2 a {
  font-family: unset;
  color: var(--color-text);
  text-transform: unset;
}

.artint .artb1-tit h2  {
  font-family: unset;
  color: var(--color-text);
  text-transform: unset;
  font-size: 1.6rem;
  line-height: 1.1;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.artint  .artb1-txt p {
  line-height: 1.3;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
  color: var(--color-header);
}

.art-img img, .artb1-img img {
  filter: grayscale(1);
  transition: ease .5s;
}

.art-int-01:hover .art-img img, .art-box .artbox1:hover  .artb1-img img  {
  filter: none;
  
}

.art-int-01:hover .art-title h3 {
  color: white !important;
}

.art-title h3 {
  transition: ease .5s;
}



.art-img {
  padding:0;
  
}
.art-img .mile-field-custom {
  margin-bottom:0;
  margin-top:0
}

.border-1:before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: .6rem solid var(--color3-2022);
}

.art-img:hover img  {
  filter:none
}

.head01 {
  background-image: url(/sites/default/files/img03.png), url(/sites/default/files/img07.png);
  background-position: right bottom, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
}

.titart {
  display: flex;
  justify-content: center;
  margin-top: -37px;
  z-index: 3;
}

.titart .mile-field-custom {
  margin: 0;
}

.titart h1, .titart h2 {
  margin: 0;
  color: var(--color6-2022);
  font-size: 3.5rem;
}

.bodyart3 {
  text-align: center;
  font-family: var(--text1-2022);
  text-transform: uppercase;
  letter-spacing: .8rem;
  margin-top: -1.7rem;
}

.bodyart2 {
  font-size: 1.2rem;
  text-align: center;
}

.bodyart2 .social-link-field a {
  color: var(--color6-2022);
  font-size: 3rem;
}

/************ANIMACIONES ********/
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}




.animated {
  -webkit-animation-duration: .9s;
  animation-duration: .9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: .6s
}

.animated2 {
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: .3s
}
.animated3 {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0s
}

.animated4 {
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0s
}

.transform_up {
  transform: translateY(20%);
}

.transform_down {
  transform: translateY(-20%);
}

.transform_left {
  transform: translateX(20%);
}

.transform_right {
  transform: translateX(-20%);
}
.animate-bl {
  opacity: 0;
  transition: all .5s;
}

.aparece {
  opacity: 1;
  transform: none;
}







/************FIN ANIMACIONES ********/

@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {

		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes fadeIn { 
  from { opacity: 0; } 
}


@keyframes float2 {
	0% {

		transform: translatey(0px);
	}
	50% {

		transform: translatey(-7px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}

@keyframes neonFlicker {
  0% {
                opacity: 1;
                text-shadow: 0 0 3px var(--color3), 0 0 5px var(--color3), 0 0 7px var(--color3), 0 0 10px var(--color3);
            }
            10% {
                opacity: 0.7;
                text-shadow: 0 0 2px var(--color3), 0 0 4px var(--color3), 0 0 6px var(--color3), 0 0 8px var(--color3);
            }
            30% {
                opacity: 0.9;
                text-shadow: 0 0 3px var(--color3), 0 0 5px var(--color3), 0 0 6px var(--color3), 0 0 9px var(--color3);
            }
            50% {
                opacity: 0.6;
                text-shadow: 0 0 2px var(--color3), 0 0 3px var(--color3), 0 0 5px var(--color3), 0 0 7px var(--color3);
            }
            70% {
                opacity: 1;
                text-shadow: 0 0 4px var(--color3), 0 0 6px var(--color3), 0 0 8px var(--color3), 0 0 10px var(--color3);
            }
            90% {
                opacity: 0.5;
                text-shadow: none;
            }
            100% {
                opacity: 1;
                text-shadow: 0 0 3px var(--color3), 0 0 5px var(--color3), 0 0 7px var(--color3), 0 0 10px var(--color3);
            }
}

@keyframes neonFlicker1 {
  0% {
                opacity: 1;
                text-shadow: 0 0 3px var(--color1), 0 0 5px var(--color1), 0 0 7px var(--color1), 0 0 10px var(--color3);
            }
            10% {
                opacity: 0.7;
                text-shadow: 0 0 2px var(--color1), 0 0 4px var(--color1), 0 0 6px var(--color1), 0 0 8px var(--color1);
            }
            30% {
                opacity: 0.9;
                text-shadow: 0 0 3px var(--color1), 0 0 5px var(--color1), 0 0 6px var(--color1), 0 0 9px var(--color1);
            }
            50% {
                opacity: 0.6;
                text-shadow: 0 0 2px var(--color1), 0 0 3px var(--color1), 0 0 5px var(--color1), 0 0 7px var(--color1);
            }
            70% {
                opacity: 1;
                text-shadow: 0 0 4px var(--color1), 0 0 6px var(--color1), 0 0 8px var(--color1), 0 0 10px var(--color1);
            }
            90% {
                opacity: 0.5;
                text-shadow: none;
            }
            100% {
                opacity: 1;
                text-shadow: 0 0 3px var(--color1), 0 0 5px var(--color1), 0 0 7px var(--color1), 0 0 10px var(--color1);
            }
}







/********************************************
************* ROCK AL PARQUE 2022 *********
********************************************/

.max-1140 {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.max-756 {
  max-width: 756px;
  margin-left: auto;
  margin-right: auto;
}



.max-960 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.view-bands1 .row {
  justify-content: center;
  margin: 0;
}


.titband a {
  color: var(--color7-2022);
  font-size: 1.7rem;
  text-transform: uppercase;
font-weight: 700;
transition: ease .5s;
}
.titband {
  margin-right: 1rem;
  margin-bottom: 0.4rem;
}


.titband a:after {
  content:"_"
}

    
.tit-link:after {
  content: "_";
  }
  


.SÃ¡b26 a:hover, .SÃ¡b26 a:hover span {
  color:var(--color1-2022) !important;
  text-decoration: none;
} 

.Dom27 a:hover, .Dom27 a:hover span {
  color:var(--color2-2022) !important;
  text-decoration: none;
} 
.SÃ¡b03 a:hover, .SÃ¡b03 a:hover span {
  color:var(--color3-2022) !important;
  text-decoration: none;
} 
.Dom04 a:hover, .Dom04 a:hover span {
  color:var(--color4-2022) !important;
  text-decoration: none;
} 






.h2-sec {
  line-height:1;
  padding:2rem 2rem 1.5rem;
  font-size:1.6rem;
  font-weight:600;
  border-radius:40px;
  margin-bottom:4rem;
  transition:ease .5s;
  border:1.5px solid var(--color8-2022);
  color:var(--color8-2022);
  
}

.bl06:hover .h2-sec,
.bl07:hover .h2-sec,
.bl08:hover .h2-sec {
  color:var(--color5-2022);
  background-color:var(--color8-2022);
}

.but-prog {
  position: relative;
  margin: 0 3rem;
}

.but-prog a {
  transition: ease .5s;
}

.but-prog a:hover {
  color: var(--color7-2022) !important;
  text-decoration: none;
}



  .img-100 img{
width: 100%;
height: auto;
  }

  .art-list ul{

    flex-wrap: wrap;
        list-style: none;
        justify-content: center;
    }
    
    .art-list li {
      font-size:2rem;
      padding:.5rem 1rem
    }
    
    .art-list li:before {
     content:"* ";
     color:var(--color-header);
    }
    
    .art-list li:after {
     content:" *";
     color:var(--color-header);
    }
    
    .max-1260 {
    max-width:1260px;
    margin-left:auto;
    margin-right:auto;
    }



      .art-list h1 {
        text-transform: uppercase;
        color: white;
        letter-spacing: 6px;
        font-size: 1.5rem;
        margin-bottom: 3rem !important;
      }
      
      .art-list p {
        font-size:1.5rem;
        color:white;
        margin-top:4rem
      }

      #block-bandasdistritaleshome {
        margin-top: 7rem;
        margin-bottom: 7rem;
      }

      
   
      .button {
        display: flex;
        justify-content: center;
      }

      .button .btn {
        border: 1px solid;
        font-size: 1.5rem;
        transition: ease .5s;
        text-transform: uppercase;
        color: var(--color3-2022);
      }

      .button .btn:hover {
        color:var(--color7-2022);
        background-color: var(--color5-2022);
      }
     
      


.view-bands2 .band-row a {
  color: var(--color5-2022);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: ease .5s;
}

.view-bands3 .band-row a {
  font-size: 1.7rem;
}



.h2-sec1 {
  padding: 0.7rem 1rem 0.5rem;
  font-size: .9rem;
  margin-bottom: 2rem;
  border: 1.5px solid var(--color5-2022);
  color: var(--color5-2022);
}


.titprog1 .mile-field-custom {
  display: flex;
  justify-content: center;
}

.box-group-d1 {
  display: flex;
  align-items: center;
}




.but-prog:hover:before, .but-prog:hover:after{
  animation: float .5s ease-in-out infinite;
}

.box-but-prog {
  margin-top: 7rem ;
}

.box-head-log img {
width: 100%;
height: auto;
}

.box-head-int {
  padding-top: 2rem;
}

.box-head-log {
  padding: 0 5rem;
}

.box-head-god {
  display:flex;
  justify-content:center;
  margin-top: 2rem;
}


.box-head-god h2 {
  text-transform:uppercase;
  color:var(--color1-2022);
  font-size:2.5rem;
  font-weight:700
}

.box-head-des {
  color:var(--color7-2022);
  font-size:1.2rem;
  line-height:1.2
}

.box-head-img img {
  width: 100%;
  height:auto
}

.box-head-img {
  animation: float 2s infinite;
}

.box-head-god h2:after, .box-head-god h2:before {
  content:"âœ–"; 

}
.box-head-god h2:after {
  margin-left:1rem
}

.box-head-god h2:before {
  margin-right:1rem
}

.logo img {
  width: 100%;
  height: auto;
}

.logo {
  padding-top: 8rem;
}

.box-prin {
  margin-bottom: 4rem;
}

.tit-art-int {
  text-transform:uppercase;
  font-size:2.5rem;
  font-weight:700;
  margin:0rem 0 1.2rem;
  
}

.city-int {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 100;
}

.ctg-int {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 4rem;
}

.ctg-int .mile-field-custom {
  padding: 1rem 4rem 0.7rem;
    border: 1px solid var(--color5-2022);
    border-radius: 40px;
}

.butboxint .but-prog:after, .butboxint .but-prog:before {
  position:absolute
}

.butboxint .but-prog {
  margin: 0 2rem;
}

.butboxint .box-but-prog {
  margin-top: 0;
  margin-bottom: 18rem;
}

.social-int .social-link-field {
  display: inline-flex;
  padding-left: 0;
}

.social-int .social-link-field li{
  padding: 0 1.5rem;
}

.social-int .social-link-field .fa{
  color: var(--color6-2022);
  font-size: 3rem;
}

.fa.fa-adn, .fa.fa-bitbucket, .fa.fa-bitbucket-square, .fa.fa-dropbox, .fa.fa-flickr, .fa.fa-instagram, .fa.fa-stack-overflow {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

.social-link-field {
  list-style-type: none;
}

.view-bands3 .h2-sec1 
  {
       padding: 2rem 2rem 1.5rem;
      font-size: 1.6rem;
      font-weight: 600;
      border-radius: 40px;
      margin-bottom: 2rem;
        border: 1.5px solid var(--color8-2022);
      color: var(--color8-2022);
      margin-top: 0 !important;
  }
  .view-bands3:hover .h2-sec1 {
    background-color: var(--color8-2022);
    border: 1.5px solid var(--color8-2022);
    color: var(--color7-2022);
}











  .no-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.no-link a{
    display: block;
    text-indent: -99999px;
    width: 100%;
    height: 100%;
    top: 0;
}


 

/************** ACORDEON RECOMENDACIONES 2022  **********************/
.rec01 .ckeditor-accordion-container > dl dd {
  padding: 2rem 1.5rem;
}

.rec01 h2 {
  margin-top: 2.5rem;
}

.rec01 .ckeditor-accordion-container > dl dt > a {
  color: var(--color3);
  border-bottom: none;
  font-family: var(--text1-2022);
  text-transform: uppercase;
  font-size: 2rem;
  background-color: unset !important;
  letter-spacing: 1px;
  transition: ease .5s;
  border: 2px solid var(--color4);
  text-align: center;
  padding: 5px;
  margin-bottom: 2rem;
  position: relative;
}




.rec01 .ckeditor-accordion-container > dl dt > a:hover:after {
    width: 100%;
}


.rec01 .ckeditor-accordion-container > dl dt.active > a {
    color: white !important;
    text-decoration: none;
    text-shadow: 0 0 5px var(--color3), 0 0 10px var(--color3);


}



.rec01 .ckeditor-accordion-container > dl {
  border: none !important;
}



.rec01-1 p {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.rec01-1 {
  margin-bottom: 2rem;
}

.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before, .ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after {
    background: var(--color5-2022);
  }

  .class2022 .ckeditor-accordion-container h2 {
    color: white;
  }

/************** FIN ACORDEON RECOMENDACIONES 2022  **********************/



/********************************************
************ ROCK AL PARQUE 2023 ****************
********************************************/

.aspect-1 {
  aspect-ratio: 16 / 9;
}

.custom-col {
  flex: 0 0 100%;
  max-width: 100%;
}


/************** VIDEO HEADER *****************/
.eb-video {
  position: relative;
   height: 0;
   padding-top: 56.25%;
}

.eb-video video {
  border: none;
  bottom: 0;
  box-shadow: none;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  object-fit: cover;
  outline: none;
  padding: 0;
  right: 0;
  top: 0;
  width: 100%;
  position: absolute;
}

/************** FIN VIDEO HEADER *****************/

.head-img {
  bottom: 0;
  left: 0;
  z-index: 1;
}

.head-img img {
 height: 100%;
}

.max-1320 {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

#block-2023textohome > div > div {
  display: flex;
  align-items: center;
  height: 100%;
}

#block-2023textohome  .mile-field-custom {
  height: 100%;
}

.img-car-home .row {
  display: block;
  margin: 0;
}

.art-home {
  margin-left: -11rem;

}

.group-new-home {
  padding: 3rem 1.5rem 2rem;
}

.blanco {
  color: white !important;
}

.art-home h2 {
  font-weight: 700;
  position: relative;
}

.art-home p {
  font-size: 1.3rem;
}



.bl-art-txt1 h2:before {
    border-top: 3px solid var(--negro);
    top: -0.6rem;
}

.but-home h2:before {
  border-top: 3px solid var(--rojo);
  top: -0.6rem;
}



.bl-logo {
  margin-top: -31rem;
  margin-bottom: -10rem;
  z-index: 2;
  position: relative;
}

.bl-art-img img {
  object-fit: fill;
}

.bl-art {
  max-height: 40rem;
}

.title-sec {
  font-size: 6rem;
  letter-spacing: 3px;
  line-height: 1;
  font-family: var(--fuente5);
  color: white;
  
}

.neon {
  animation: neonFlicker .2s infinite;
}

.neon1 {
  animation: neonFlicker1 .2s infinite;
}


.bl-art-txt1 h3 span {
  text-transform:uppercase;
  background-color: var(--negro);
  color: white;
  padding:.7rem 2rem;
  font-size:2.3rem;
  display: inline-block;
  font-weight:700;
  transition: .5s ease;
}

.bl-art-txt1 h3 {
  transition: .5s ease;
}

.bl-art-txt1 h3 a {
  text-decoration: none;
}

.bl-art-txt1 h3:hover span {
  color: var(--rojo);
}

.bl-art-txt1 h3:hover {
  color: white;
}

.bl-art-txt1 {
  margin-left: -6rem;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.but-home {
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-transform: uppercase;
}

.but-home h3 {
  margin-bottom: 0;
  font-size: 2.3rem;
  font-weight: 700;
}


.but-home h3 a:hover:after {
  width: 100%;
}

.but-home h3 a:hover {
  color: white;
}


.group-art-info {
  margin-top: -5rem;
}

.modal-dialog {
  max-width: 1000px;
}

.lh-1 {
  line-height: 1;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.modal-tit h3 {
  font-size: 3.4rem;
}

.modal-int .close {
  position: absolute;
  top: .3rem;
  right: .5rem;
}

.modal-int .close span {
  font-size: 3rem;
}


.date-fest {
  column-count: 3;
  column-gap: 10px;
  column-rule: 3px double var(--color6);
  list-style: none;
  text-align: center;
  line-height: 1;
  font-size: 1.2rem;
}

.modal-proc {
  font-size: .7rem;
  color: var(--color6);
}

.modal-ctg {
  color: var(--color1);
}

.bl-art-23 {
  margin-top: 9rem;
}

.class2022 p, .class2022 li {
  color: white;
  font-size: 1.2rem;
  font-family: var(--fuente2);
  font-weight: 400;
  letter-spacing: .5px;
}

.class2022 h2,
.class2022 h3 {
  color: var(--color2);
  font-family: var(--fuente2);
  
}

.class2022 .but-home h3 a {
  padding: .1rem 1rem;
}

.class2022 .but-home h3 {
  font-size: 1.5rem;
}

.class2022 h1 {
  background-color: var(--rojo);
  color: var(--negro);
  padding: .2rem 1rem;
  display: inline-block;
  text-transform: uppercase;
  line-height: 1;
  font-size: 2.5rem;
  font-weight: 700;
}

.class2022 h1:before {
  border-top: 3px solid var(--rojo);
}

.class2022 h1 {
  position: relative;
}

.class2022 li {
  margin-bottom: 1rem;
}

.evbta23 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
  gap: 4.5rem;
  color: var(--color5-2023);
}

.max-1240 {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}


.titev1 {
  color: white;
  font-size: 2rem;
  line-height: 1;
  text-shadow: 0 0 10px var(--color1), 0 0 15px var(--color1);
}

.box-6 {
  row-gap: 3rem;
}


.descev1 {
  font-weight: 200;
}

.descev1 p,
.lugev2,
.hourev1,
.invev1,
.modal-txt p
{
  color: white;
    font-size: 1rem;
    line-height: 1.4;
    text-shadow: 0 0 10px #0b0b0b, 0 0 15px var(--color1);
}

.invev1 {
  margin-top: 2rem;
}

.dateev1 {
  color: white;
      font-size: 1.5rem;
      line-height: 1;
      text-shadow: 0 0 10px var(--color1), 0 0 15px var(--color1);
      margin-bottom: 2rem;
  }
  


hr {
  border-top: 1px solid #ff000052;
}


.box-new h2 {
z-index: 2;
}

.new-info2 {
  margin-left: -6rem;
}

.new-txt p {
  line-height: 1.3;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

}

.new-title h3 a {
  color: var(--rojo);
  text-decoration: none;
}

.new-title h3 {
  line-height: 1.1;
}

.box-log1 {
  justify-content: start;
}

.border2 {
  border: 2px solid white;
}

.prof-desc {
  display: flex;
  align-items: center;
}

.titev {
  color: white;
  font-size: 2rem;
  line-height: 1;
  text-shadow: 0 0 10px var(--color1), 0 0 15px var(--color1);
  margin-bottom: 1rem;
}

.prof-img img {
  margin: 0;
}

.prof01 .row01:nth-child(even) {
  flex-direction: row-reverse;
}

.prof-desc p {
  color: white;
  font-size: 1rem;
  line-height: 1.4;
  text-shadow: 0 0 10px #0b0b0b, 0 0 15px var(--color1);
}

.social-int img {
  margin-bottom: 0;
}

.prof01 .row01 {
  margin: 2rem 0;
  justify-content: space-between;
}

.social-int img {
  width: 45px;
  margin: 2rem auto 0;
  filter: brightness(0) saturate(100%) invert(49%) sepia(91%) saturate(986%) hue-rotate(207deg) brightness(100%) contrast(92%);
}

.prof01 {
  display: grid;
}

.prof01 .row01:nth-child(odd) .prof-img {
  padding-left: 0;
}

.prof01 .row01:nth-child(even) .prof-img {
  padding-right: 0;
}

@keyframes parpadeo {
  0% {
    background-color: #ff004200;
  }

  100% {
    background-color: #FF0042; 
  }
}

.button-on h3 a {
  animation: parpadeo .5s infinite;
  padding: 0.3rem 3rem;
  text-transform: uppercase;
  border: 2px solid var(--rojo);
  color: white;
  font-weight: 700;
  font-size: 3rem;
}

.button-on h3 a:hover {
  text-decoration: none;
}






/********************************************
************ FIN ROCK AL PARQUE 2023 ****************
********************************************/

/********************************************
************  ROCK AL PARQUE 2024 ****************
********************************************/
.bl01 {
  background-image: url(/sites/default/files/recursos-rap-2022/bg07.jpg);
  background-size: 100%;
  background-attachment: fixed;
  padding-top: 4rem;
}

.view-art2023 .row {
  column-gap: 1.5rem;
  justify-content: center;
  row-gap: 2rem;
}

.box-art1 {
	border: 3px solid var(--color2);
	border-radius:5px;
	padding: .6rem 1.5rem
}

.box-art1 {
  border: 2px solid #f6f6f6;
  border-radius: 5px;
  padding: .6rem 1.5rem;
  transition: box-shadow 0.3s ease; 
}

.internacionales {
	box-shadow: 0 0 10px #9B44F2, 0 0 14px #9B44F2, inset 0 0 5px #9B44F2, inset 0 0 10px #9B44F2;
}


.internacionales .art-title,
.internacionales .modal-tit {
	    text-shadow: 0 0 5px #9B44F2, 0 0 10px #9B44F2;
}

.internacionales .date-fest {
	color: var(--color2);
}

.nacionales .date-fest {
	color: var(--color4);
}

.distritales .date-fest {
	color: var(--color3);
}

.white {
  color: white;
}

.nacionales {
	box-shadow: 0 0 10px var(--color4), 0 0 19px var(--color4), inset 0 0 10px var(--color4), inset 0 0 15px var(--color4);
}

.nacionales .art-title,
.nacionales .modal-tit {
	text-shadow: 0 0 5px var(--color4), 0 0 10px var(--color4);
}

.distritales {
	box-shadow: 0 0 10px var(--color3), 0 0 14px var(--color3), inset 0 0 5px var(--color3), inset 0 0 10px var(--color3);
}

.distritales .art-title,
.distritales .modal-tit {
	    text-shadow: 0 0 5px var(--color3), 0 0 10px var(--color3);
}

.internacionales:hover {
  box-shadow: 0 0 20px #9B44F2, 0 0 30px #9B44F2, inset 0 0 10px #9B44F2, inset 0 0 20px #9B44F2;
}

.nacionales:hover {
  box-shadow: 0 0 20px var(--color4), 0 0 30px var(--color4), inset 0 0 10px var(--color4), inset 0 0 20px var(--color4); 
}

.distritales:hover {
  box-shadow: 0 0 20px var(--color3), 0 0 30px var(--color3), inset 0 0 10px var(--color3), inset 0 0 20px var(--color3); 
}






.art-title {
  color: white;
    font-family: var(--fuente2);
letter-spacing: 2px;
text-transform: uppercase;
text-align: center;
}

.blgroup1:before,
.content:before{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-image:url(/sites/default/files/recursos-rap-2022/bg06.png);
	background-attachment:fixed;
	background-size:100%;
	opacity:.6;
  z-index: -1;
}

.node-420 .content:before {
  display: none;
}






.art-proc {
	font-family:var(--fuente2);
	color: var(--color1); 
	letter-spacing:1px;
  text-shadow: 
    0 0 3px #FC457E,  
    0 0 7px #FC457E,  
    0 0 10px #FC457E;   
}

.txt2-cab {
	color:var(--color3);
	text-transform:uppercase;
	font-family:var(--fuente4);
	font-size:3rem;
	font-weight: 600;
  letter-spacing: 10px;
}

.txt1-cab {
	text-transform:uppercase;
	font-family:var(--fuente4);
	font-size:5rem;
	font-weight: 600;
	margin-bottom: -2rem;
  letter-spacing: 10px;
}

.txt1-cab {
	color:var(--color1)
}

.txt1-cab span2 {
	color:var(--color3)
}

.txt1-cab span {
	color:var(--color2);
}
.content-2 {
  background-image: url(/sites/default/files/recursos-rap-2022/bg02.jpg);
   background-attachment:fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;
    aspect-ratio: 16 / 7;
}

.bl03 {
  background-image: url(/sites/default/files/recursos-rap-2022/bg04.jpg);
	background-attachment:fixed;
	background-size:100% auto
}

.artb1-tit h2 a {
  font-family: var(--fuente2);
  color: white;
  text-transform: unset;
}

.artb1-tit h2  {
  font-size: 2rem;
  line-height: 1;
  text-shadow: 0 0 10px var(--color1), 0 0 15px var(--color1);
}

.artbox1 {
	box-shadow: 0 0 10px var(--color1), 0 0 19px var(--color1), inset 0 0 10px var(--color1), inset 0 0 15px var(--color1);
	border: 3px solid #f6f6f6;
    border-radius: 5px;
    padding: 1.2rem 1.2rem;
    transition: box-shadow 0.3s ease;
}

.border-red {
  box-shadow: 0 0 10px var(--color1), 0 0 19px var(--color1), inset 0 0 10px var(--color1), inset 0 0 15px var(--color1);
	border: 3px solid #f6f6f6;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.artbox1:hover {
	box-shadow: 0 0 20px var(--color1), 0 0 30px var(--color1), inset 0 0 10px var(--color1), inset 0 0 20px var(--color1);
}
.artbox1:hover .artb1-img img {
  filter: none;
  scale:1.05
}

.but-home h3 a {
  color: white;
  transition: ease .5s;
  text-decoration: none;
  border: 2px solid white;
  position: relative;
  font-family: var(--fuente2);
  font-size: 1.5rem;
  border-radius: 5px;
  text-shadow: 0 0 5px #9B44F2, 0 0 10px #9B44F2;
  box-shadow: 0 0 10px #9B44F2, 0 0 14px #9B44F2, inset 0 0 5px #9B44F2, inset 0 0 10px #9B44F2;
  padding: 0 1rem;
}

.but-home h3 a:hover {
  box-shadow: 0 0 20px #9B44F2, 0 0 30px #9B44F2, inset 0 0 10px #9B44F2, inset 0 0 20px #9B44F2;
}





.but-home24 h3 a {
	position:relative;
	padding:1rem 1.5rem;
	color: white;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:2px;
	transition: 0.5s;
	overflow:hidden;
	text-shadow: 0 0 5px #9B44F2, 0 0 10px #9B44F2;
	-webkit-box-reflect: below 1px linear-gradient(transparent, red);
}

.but-home24 h3:nth-child(1) a {
	filter: hue-rotate(161deg);
}

.but-home24 h3:nth-child(3) a {
	filter: hue-rotate(250deg);
}



.but-home24 h3 a:hover {
	background-color:var(--color2);
	box-shadow:0 0 50px var(--color2);
	transition-delay:.4s;
	color:var(--color5)
}

.but-home24 h3 a:before {
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:15px;
	height:15px;
	border-top:2px solid var(--color2);
	border-left:2px solid var(--color2);
	transition:0.5s;
	transition-delay:.0s;
	
}

.but-home24 h3 a:hover:before {
	width:100%;
	height:100%;
	transition-delay:.0s;
}

.but-home24 h3 a:after {
	content:"";
	position:absolute;
	bottom:0;
	right:0;
	width:15px;
	height:15px;
	border-bottom:2px solid var(--color2);
	border-right:2px solid var(--color2);
	transition:0.5s;
	transition-delay:.0s;
	
}

.but-home24 h3 a:hover:after {
		width:100%;
	height:100%;
	transition-delay:.0s;

}

.art-int-01:hover .internacionales {
  box-shadow: 0 0 20px #9B44F2, 0 0 30px #9B44F2, inset 0 0 10px #9B44F2, inset 0 0 20px #9B44F2;
}

.art-int-01:hover .nacionales {
  box-shadow: 0 0 20px var(--color4), 0 0 30px var(--color4), inset 0 0 10px var(--color4), inset 0 0 20px var(--color4); 
}

.art-int-01:hover  .distritales {
  box-shadow: 0 0 20px var(--color3), 0 0 30px var(--color3), inset 0 0 10px var(--color3), inset 0 0 20px var(--color3); 
}

.bg-color5 {
  background-color: var(--color5);
}

.modal-content {
background-color: transparent;
}

.list-art .row {
  justify-content: center;
}






















/********************************************
************ FIN ROCK AL PARQUE 2024 ****************
********************************************/


/********************************************
************ 8 MEDIA QUERIES ****************
********************************************/

@media (max-width: 576px) {
  header .content-header #block-festivalrap-theme-branding { left: 0px; width: 100%; display: flex; justify-content: center; }
  header .content-header #block-festivalrap-theme-branding img { width: 70%; height: auto !important;  margin-left: 0%; margin-top: 15px; }
  footer .content-footer .social-networks .img-festival{ width: 68px; }
  footer .content-footer  .logos-festivals > a > div.img-festival{ width: 68px; margin: 0 0.2rem; }
  .overlay-main-menu a {font-size: 25px !important;
    letter-spacing: 1px !important;}
  .overlay-main-menu .closebtn { font-size: 40px; top: 15px; right: 35px; } 
  #block-playerspotify { margin: 1rem 0 1rem 0;}
  #block-countdowntimer{ transform: scale(0.7); }
}

@media (max-width: 768px) {
  /* node--type-ct-memory */
  .node--type-ct-memory  [class^="mile-node"] > div:nth-child(1){ width: 100%; text-align: center; }
  .node--type-ct-memory  [class^="mile-node"] > div:nth-child(2){ width: 100%; margin-top: -2em;}


  #block-pick img{ position: relative; width: 100px; left: 0px; top: 0px; display: block; margin: 0 auto; } 
  footer .content-footer .logos-festivals { flex-wrap: nowrap !important; }

 

 /***************** MODIFICACIONES MENU SUPERIO MOVIL - APLICABLE A TODAS LAS DE FESTIVALES ************/

 header .content-header {
  height: 60px;
  padding: 0;
}
.mile-container > header {
position: relative;
padding: .5rem 1rem;
}


.mile-container header .row {
margin-right: 0 !important;
margin-left: 0 !important;
}

header .content-header #block-festivalrap-theme-branding {
justify-content: space-between;
height: 100%;
}

header .content-header #block-festivalrap-theme-branding img {
width: auto;
margin-left: 0%;
margin-top: 0;
height: 100% !important;
}

.container-highlighted {
padding: 77px 0 0 !important;
}

#block-pick-2 {
padding: 1.5rem 0 0;
}


#block-pick-2 .mile-field-custom {
margin:0 !important
}


/***************** CIERRE MODIFICACIONES MENU SUPERIO MOVIL - APLICABLE A TODAS LAS DE FESTIVALES ************/

/***************** MODIFICACIONES EN MOVIL APLICABLES A TODOS LOS SITIOS **********************/

footer .content-subfooter .copyright p {
font-size: 0.6rem;
}

footer .content-subfooter .copyright img {
width: 77% !important;
margin-top: 7px !important;
margin-bottom: 16px !important;
}

footer .content-footer .contact-info {
 font-size: 0.7rem;
}

.artb1-txt {
display: none;
}

.artint .artb1-tit h2 {
font-size: 1.3rem;
-webkit-line-clamp: 6 !important;
line-height: 1.3;
}

.artint .artbox1 {
padding: 0 1rem;
}
.artrow {
margin-bottom: 2rem !important;
}
.artbox1 {
margin-bottom: 1.5rem;
}

.mile-breadcrumb ol a {
font-size: .7rem !important;
}

.artint {
overflow: hidden; 
}

#block-pick {
padding: 1.5rem 0 0;
}

#block-pick .mile-field-custom {
margin: 0 !important;
}

.overlay-main-menu .logo-festival {
margin-top: 40px;
margin-bottom: 0px;
}

.overlay-main-menu .overlay-content {

margin-top: 0px;
}




/***************** CIERRE MODIFICACIONES APLICABLES A TODOS LOS SITIOS **********************/

}

@media (max-width: 1023px) {

  footer .content-footer-frontpage{ flex-direction: column !important; align-items: center !important; }
  footer .content-footer-frontpage #block-credits{ text-align: center; }
  footer .content-footer{ flex-direction: column !important; align-items: center !important; }
  footer .content-footer .logos-festivals {margin-bottom: 2rem; order: 1 !important; -webkit-order: 1 !important;}
  footer .content-footer #block-festivalrap-theme-newsletter { margin: 1rem 0 !important; order: 2 !important; -webkit-order: 2 !important; }
  /* footer .content-footer #block-webform { margin: 1rem 0 !important; order: 2 !important; -webkit-order: 2 !important; } */
  footer .content-footer .social-networks{ margin-bottom: 2rem !important; order: 3;-webkit-order: 3; }
  footer .content-footer .contact-info{ order: 4; -webkit-order: 4; text-align: center;}
  footer .content-subfooter .copyright img{ width: 100%; margin-top: 15px !important; margin-bottom: 40px !important; }
}



@media (max-width: 1160px) {
  footer .content-footer .logos-festivals { flex-wrap: wrap; justify-content: center;}
}

@media (min-width: 1930px) {
 
    
  }

  @media (max-width:1650px) {
    


  }

  @media (max-width:1368px) {mar
   
.modal-dialog {
  max-width: 850px;
}

.bl-art-txt1 h2,
.but-home h2,
.title-sec {
  font-size: 4.5rem;
    
}

.art-title h3 {
  font-size: 1.5rem;
}

.modal-tit h3 {
  font-size: 2.6rem;
}

#block-2023headerinterno {
  margin-top: 3rem;
}

.box-log {
  margin-left: 7rem;
}

    
  }


  @media (max-width:1266px) { 


.bl-logo {
  margin-top: -20rem;
  margin-bottom: -5rem;
}



  }
  

  @media (max-width:992px) {
    .box-log1 {
      height: 90vh;
      justify-content: center;
      align-items: center;
      margin-top: -6rem;
      margin-left: 0;
    }
  
    .box-log {
      margin-left: 0;
    }
  
    .bl-logo {
      margin-top: 7rem;
      margin-bottom: 0rem;
      min-height: 800px;
    }
  
  
  }@media (max-width:992px) {
    .box-log1 {
      height: 90vh;
      justify-content: center;
      align-items: center;
      margin-top: -6rem;
      margin-left: 0;
    }
  
    .box-log {
      margin-left: 0;
    }
  
    .bl-logo {
      margin-top: 7rem;
      margin-bottom: 0rem;
      min-height: 800px;
    }
  
  
  }

  @media (max-width:768px) {



   /********************************************
************* movil ROCK AL PARQUE 2023 *********
********************************************/

.bl-logo {
  margin-top: 0rem; 
  margin-bottom: 0rem;
}

.art-home {
  margin-left: 0rem;
}

#block-views-block-2023-carrusel-fotos-home-block-1 {
  padding: 0;
}

.art-home h2 {
  font-size: 1.3rem;
}

.art-home p {
  font-size: 1rem;
}

.bl-art-txt1 h2, .but-home h2, .title-sec {
  font-size: 2.6rem;
}

.but-home h3 {
  font-size: 1.3rem;
  display: grid;
  margin-bottom: 1rem;
}

.but-home {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.bl-art-txt1 {
  margin-left: 0rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.bl-art-txt1 h3 span {
  padding: 0.7rem 0.5rem;
  font-size: 1.3rem;
}

.bl-art-txt1 h3 {
  font-size: 1.3rem;
}

.bl-art-txt1 {
  margin-top: -2rem;
}

.bl-art {
  flex-wrap: wrap;
}

.new-info2 {
  margin-left: 0rem;
}

.new-title h3 {
  font-size: 1.3rem;
}

.class2022 p, .class2022 li {
  font-size: 1rem;
}

.class2022 .but-home h3 {
  font-size: 1.3rem;
}

#block-views-block-2023-noticias-home-2023-block-1 footer {
padding-top: 0rem;
}

.content-2 {
  aspect-ratio: 16 / 19;
    background-attachment: unset;
    background-size: 130% auto;
    background-position-x: center;

}

footer {
  padding-top: 3rem;
}

.box-new .but-home {
  padding-top: 1rem;
    padding-bottom: 1rem;
}



.box-log {
  padding-bottom: 6rem;
}

.bl-logo:after {
  content:url("/sites/default/files/recursos-rap-2022/arrow3.png");
  position:absolute;
  bottom:0;
  width:0%;
  left:44%;
  bottom:80px;
    animation:float 1s ease-in-out infinite;
}

.art-info {
  aspect-ratio: 3 / 1.1;
}

.art-title h3 {
  font-size: 1rem;
  color: white !important;
}
.art-info2 .art-proc {
  font-size: .7rem;
}

.art-info2 {
  position: relative;
}

.art-img img, .artb1-img img {
  filter: none;
}

.modal-tit h3 {
  font-size: 2rem;
}

.group-art-info {
  margin-top: -3rem;
}

.modal-txt {
  line-height: 1.2;
}

.date-fest {
  font-size: .9rem;
}

.node-page .block-mile-theme-content, .node-page .custom-col-2 {
  background-size: 90%;
  background-position-y: 20%;
}

.class2022 h1 {
  font-size: 1.5rem;
}

.class2022 h2, .class2022 h3 {
  font-size: 1.3rem;
}

#block-2023headerinterno {
  margin-top: 2rem;
}

.dateev1 {
  font-size: 1rem;
}

.lugev1, .direv1, .hourev1, .invev1 {
  font-size: .8rem;
}
.titev1 {
  font-size: 1.5rem;
}

.evbta23 {
  gap: 2.5rem;
}

.title-sec {
  font-size: 3rem;
  letter-spacing: 0px;
}

.node-421 .block-mile-theme-content {
  background: none;
}


.vprog2, .prof01 {
  padding: 0;
}

.row01 {
  display: block !important;
}

.prof-desc p {
  font-size: .8rem;
  text-align: center;
}

.prof01 .row01:nth-child(even) {
  flex-direction: unset;
}

.prof-img {
  margin-left: auto;
  margin-right: auto;
  padding-right: 0;
  margin-bottom: 1rem;
}

.titev {
  display: block;
  text-align: center;
}

.rec01 .ckeditor-accordion-container > dl dt > a {
  font-size: 1rem;
  margin-bottom: 1rem;
}


.txt1-cab {
  font-size: 2rem;
  margin-bottom: 0rem;
  letter-spacing: 4px;
}

.txt2-cab {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 4px;
}

.art-title {
  letter-spacing: 1px;
  font-size: 1rem;
  margin-bottom: 0;
}

.art-proc {
  font-size: .8rem;
}

.box-art1 {
  border: 1px solid #f6f6f6;
  padding: .3rem 1rem;
}

.artb1-tit h2 {
  font-size: 1.2rem;
  line-height: 1.3;
  margin-bottom: 0;
}

.but-home h3 a {
  font-size: 1rem;
}

.bl01 {
  background-size: 200%;
  background-attachment: unset;
  background-position-x: center;
}

.blgroup1:before {
  background-attachment: unset;
  background-size: 200%;
  background-position-x: center;
  background-position-y: -20rem;
}

.bl03 {
  background-attachment: unset;
  background-size: 200% auto;
  background-position-x: center;
  background-position-y: -21rem;
}

.but-home24 h3 {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.but-home24 h3 a {
  padding: .5rem 1rem;
}

.but-home24 {
  margin: 2rem 0 3rem;
}

.modal-txt p {
  font-size: .9rem;
}



  /********************************************
************* CIERRE MOVIL  ROCK AL PARQUE 2023 *********
********************************************/
  
  }